h1 {
    color: #1781b5;
    font-size: 7vw;
}


p {
    color: #f9bd10;
    font-size: 2vw;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.right-align-tags{
    position: absolute;
    right: 0px;
}


footer{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    bottom: 20px;
    left: 50%;
    right: 50%;
    font-size: 2vw;
    position: absolute;
    color: #789B6A;
}