body {
    background-color: #2f2f35;
    font-family: 'Inter', sans-serif;
}

a {
    color: #fb8b05;
    text-decoration: none;
    padding: 14px 16px;
}


#logo {
    position: absolute;
    width: 15vw;
    margin: 0;
    display: inline-block;
    background-size: 50px;
    top: 5vh;
    left: 5vh;
}