body {
    background-color: #2f2f35;
    font-family: 'Inter', sans-serif;
}

a {
    color: #fb8b05;
    text-decoration: none;
    padding: 14px 16px;
}

.navbar {
    margin-right: 24px;
    overflow: hidden;
}

.navbar a {
    float: right;
    font-size: 3vw;
    height: inherit;
    text-align: center;
}

.navbar a:hover{
    background-color: #ffea611f;
    color: #4C9AD4;
}


#logo {
    position: absolute;
    width: 15vw;
    margin: 0;
    display: inline-block;
    background-size: 50px;
    top: 5vh;
    left: 5vh;
}