---
import Base from "../layouts/Base.astro";
---

<style>
  ul {
    list-style: none;
  }
  li {
    display: flex;
    gap: 1rem;
    padding: 0.3rem 0;
  }
  span {
    color: darkgrey;
    min-width: 7rem;
  }
</style>

<Base title="About">
  <ul>
    <li><span>name</span>Tianpai</li>
    <li><span>focus</span>taste • design • product • software</li>
    <li><span>language</span>TypeScript • Go • C</li>
    <li><span>timezone</span>EST (UTC-5)</li>
    <li>
      <span>github</span>
      <a
        href="https://github.com/tianpai"
        target="_blank"
        rel="noopener noreferrer"
      >
        github.com/tianpai
      </a>
    </li>
<li><span>pgp</span><a href="/public-key.asc">public-key.asc</a></li>
    <li>
      <span>editor</span><a
        href="https://neovim.io"
        target="_blank"
        rel="noopener noreferrer">nvim</a
      >
    </li>
    <li>
      <span>keyboard</span><a
        href="https://hhkeyboard.us/hhkb/pro-hybrid-type-s"
        target="_blank"
        rel="noopener noreferrer">HHKB Professional HYBRID Type-S</a
      >
    </li>
    <li>
      <span>font</span><a
        href="https://berkeleygraphics.com/typefaces/berkeley-mono/"
        target="_blank"
        rel="noopener noreferrer">Berkeley Mono</a
      >
    </li>
    <li>
      <span>terminal</span>
      <a href="https://ghostty.org" target="_blank" rel="noopener noreferrer"
        >Ghostty</a
      >
    </li>
  </ul>
</Base>
