---
import Base from "../layouts/Base.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<style>
  ul {
    list-style: none;
  }
  li {
    display: flex;
    gap: 1rem;
    padding: 0.3rem 0;
  }
  time {
    color: darkgrey;
    white-space: nowrap;
  }
</style>

<Base title="Tianpai's Blog">
  <ul>
    {posts.map((post) => (
      <li>
        <time>{post.data.date.toLocaleDateString()}</time>
        <a href={`/blog/${post.id}/`}>
          {post.data.title}
        </a>
      </li>
    ))}
  </ul>
</Base>
