---
import "../styles/global.css";
import Breadcrumb from "../components/Breadcrumb.astro";

interface Props {
  title: string;
  breadcrumbTitle?: string;
}

const { title, breadcrumbTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <Breadcrumb title={breadcrumbTitle} />
    <slot />
  </body>
</html>

<script>
  import Snd from "snd-lib";

  const snd = new Snd();

  snd.load(Snd.KITS.SND01).then(() => {
    document.querySelectorAll("nav a").forEach((link) => {
      link.addEventListener("mousedown", () => snd.play("tap_03"));
    });
  });
</script>
