---
import "../styles/global.css";

interface Props {
  title: string;
  hideNav?: boolean;
}

const { title, hideNav = false } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    {!hideNav && (
      <nav>
        [ <a href="/">home</a> ]
      </nav>
    )}
    <slot />
  </body>
</html>

<style>
  nav {
    padding-bottom: 1.5rem;
    color: darkgrey;
  }
</style>

<script>
  import Snd from "snd-lib";

  const snd = new Snd();

  snd.load(Snd.KITS.SND01).then(() => {
    document.querySelectorAll("nav a").forEach((link) => {
      link.addEventListener("mousedown", () => snd.play("tap_03"));
    });
  });
</script>

